<h1> Log in here!</h1>
<%= form_with(scope: :session, url: login_path, local: true)  do |f| %>
  <%= f.label :email%>
  <%= f.email_field :email, placeholder: "Enter your email address"  %>
  <%= f.label :password%>
  <%= f.password_field :password, placeholder: "Enter your password" %>
  <%= f.submit "Log in" %>
<%end%>
<%= link_to '[Cancel and return to articles listing]', articles_path%>
