<%= render 'shared/errors', obj: @article %>
<div class="article-backdrop">
  <%= form_with(model: @article, local: true)  do |f| %>
    <%= link_to '⬅️', articles_path, style:"position: absolute; margin: 1rem"%>
    <article class="article-form container flex-column">
      <%= f.label :title%>
      <%= f.text_field :title,  placeholder: "Title of article" %>
      <%= f.label :body%>
      <%= f.text_area :body,  placeholder: "Description of article"  %>
      <%= f.label :category%>
      <%= f.collection_select(:category_ids, Category.all, :id, :name,
                                                { prompt: "Scroll to choose a category (can be empty)"},
                                                { multiple: true, size: 3, class: "custom-select shadow rounded" }) %>
      <%= f.submit "Save article", style:"margin:1rem;" %>
    </article>
  <%end%>
</div>
