<div class="container">
  <%= form_with(model: @user, local: true, id:"user-form")  do |f| %>
    <div class="user-form hidden">
      <div class="form-grid">
        <p>
          <%= f.label :username %>
          <%= f.text_field :username, placeholder: "username", required: true%>
        </p>
        <p>
          <%= f.label :email%>
          <%= f.email_field :email, placeholder: "@email.com", required: true  %>
        </p>
        <p>
          <%= f.label :password%>
          <%= f.password_field :password, placeholder: "'password'", required: true %>
          <%= f.submit "✅"%>
        </p>
        <small id="username-error"></small>
        <%= f.file_field :image %>
        <small id="password-error"></small>
      </div>
    </div>
  <%end%>
</div>
