<div class="container flex-column">
  <%= form_with(model: @user, local: true)  do |f| %>
    <div class="user-form ">
      <%= f.label :username %>
      <%= f.text_field :username, placeholder: "@username" %>
      <%= f.label :email%>
      <%= f.email_field :email, placeholder: "example@email.com"  %>
      <%= f.label :password%>
      <%= f.password_field :password, placeholder: "'password'" %>
      <%= f.submit(@user.new_record? ? "Sign up" : "Update account" )%>
    </div>
  <%end%>
</div>
