<div class="user-grid">
  <% @users.each do |user|%>
    <div class="user-grid-cell">
      <div class="container flex-column">
        <div class="user-index-header">
          <%= image_tag "default-profile-picture1.jpg", alt: "Default profile picture", class:"user-index-img" %>
          <p><%= link_to user.username, user_path(user) %></p>
        </div>
        <%= pluralize(user.articles.count, "article")%>:
        <ul class="user-article-list">
          <%articles = user.articles.all%>
          <li>
            <% if articles[-1] %>
              <%= link_to articles[-1].title, article_path(articles[-1]) %>
            <%end%>
          </li>
          <li>
            <% if articles[-2] %>
              <%= link_to articles[-2].title, article_path(articles[-2]) %>
            <%end%>
          </li>
          <li>
            <% if articles[-3] %>
              <%= link_to articles[-3].title, article_path(articles[-3]) %>
            <%end%>
          </li>
          <li>
            <% if articles[-4] %>
              <%= link_to articles[-4].title, article_path(articles[-4]) %>
            <%end%>
          </li>
        </ul>
      </div>
      <small> Joined <%= time_ago_in_words(user.created_at) %> ago </small>
    </div>
  <%end%>
</div>
<div class="pagination bottom">
  <%= will_paginate @users, :container => false %>
</div>
