<h1 class = "text-center mt-4"> All bloggers<h1>

<div class="container"> 
    <div class="apple_pagination fs-5 mb-4">
        <div class="page_info">
        <%= page_entries_info @articles %>
        </div>
        <%= will_paginate @articlees, :container => false %>
    </div>

    <% @users.each do |user|%>
        <div class="row justify-content-center">
            <div class= "col-8 mt-4"> 
                <div class="card text-center shadow mb-5 bg-body rounded">
                    <div class="card-header fst-italic fs-4">
                         <%= link_to user.username, user_path(user) %>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fs-2"><%= link_to gravatar_for(user), users_path(user)%></h5>
                        <p class="card-text text-truncate "><%= pluralize(user.articles.count, "article")%></p>

                        <div >
                            <%= link_to 'View profile', user_path(user),class: "btn btn-outline-success"%>
                            <%= link_to 'Edit profile', edit_user_path(user), class: "btn btn-outline-info"%>
                            
                        </div>

                       
                    </div>
                    <div class="card-footer text-muted">
                        <small> Joined <%= time_ago_in_words(user.created_at) %> ago </small>
                    </div>
                </div>
            </div>
        </div>
     <%end%>

     <div class="apple_pagination fs-5 mb-4 ">
        <div class="page_info">
        <%= page_entries_info @articles %>
        </div>
        <%= will_paginate @articlees, :container => false %>
    </div></br>

</div>



