<div class="user-container">
  <div class="user-card">
    <% if @user.image.attached?%>
      <%= image_tag @user.image, alt: "Profile picture", class:"user-img" %>
    <%else%>
      <%= image_tag "default-profile-picture1.jpg", alt: "Default profile picture", class:"user-img" %>
    <%end%>
    <button  class="container user-dropdown" id="settings-dropdown-toggle">
      <%= @user.username%>
    </button>
    <% if logged_in? and (@user == current_user || current_user.admin?)%>
      <div class="user-buttons hidden">
        <button id="user-form-toggle"><%= link_to "Edit account", edit_user_path(@user)%></button>
        <%= button_to "Delete account", user_path(@user), method: :delete%>
      </div>
    <%end%>
  </div>
  <div>
    <%= render 'articles/articles'%>
  </div>
</div>
<% if @user.articles.length > 5%>
  <div class="pagination bottom">
    <%= will_paginate @articles, :container => false %>
  </div>
<%end%>
