<h1><%= @user.username%>'s profile</h1>
<% if logged_in? and (@user == current_user || current_user.admin?)%>
  <%= link_to "Edit account", edit_user_path(@user)%>
  <%= button_to "Delete account", user_path(@user), method: :delete, form: { data:{ turbo_confirm: 'Are you sure you want to delete this account and all associated articles?'}}%>
<%end%>
<h3><%= @user.username%>'s articles</h3>
<%= render 'articles/articles'%>
<%= page_entries_info @articles %>
<%= will_paginate @articles, :container => false %>
