<nav>
  <%= link_to root_path, class: "nav-logo" do %>
    <span class="first-letter">A</span>LPHA 
    <span class="first-letter">B</span>LOG
  <% end %>
  <%= link_to "Bloggers", users_path%>
  <%= link_to "Articles", articles_path%>
  <%if logged_in?%>
    <%= link_to current_user.username, user_path(current_user)%>
    <%= link_to 'Create new article', new_article_path%>
    <%= link_to "Logout", logout_path, method: :delete%>
  <% else%>
    <%= link_to "Login", login_path%>
    <%= link_to "Signup", signup_path%>
  <%end%>
  <%if logged_in? && current_user.admin?%>
    <%=link_to "View categories(admin)", categories_path%>
  <%end%>
</nav>
