<h1> Categories</h1>
<%= page_entries_info @categories %>
<%= will_paginate @categories, :container => false %>
<% if logged_in? and current_user.admin?%>
  <%= link_to "New category", new_category_path(@category)%>
<%end%>
<%@categories.each do |category|%>
  <h5 ><%= link_to category.name, category_path(category)%></h5>
  <p ><%= pluralize(category.articles.count, "article")%></p>
  <small> created <%= time_ago_in_words(category.created_at) %> ago,
    edited ago <%=time_ago_in_words(category.updated_at)%> </small>
<%end%>
<%= page_entries_info @categories %>
<%= will_paginate @categories, :container => false %>
