<h1>Category: <%= @category.name%></h1>
<% if logged_in? and current_user.admin?%>
  <%= link_to "Edit category", edit_category_path(@category)%>
<%end%>
<h3><%= @category.name%></h3>
<%= render 'articles/articles'%>
<%= page_entries_info @articles %>
<%= will_paginate @articles, :container => false %>
